a {color: rgb(123, 255, 0); background-color: darkred;} 
h2,i {color: rgb(0,255,255);background-color: brown;}
h3,u {color: red;background-color: #00f;background-color: chartreuse;}
h4 {background-color: black;}